<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('./header_footer/header.ejs') %>
    <main class="container">
        <h2>welcome <%= title %> </h2>
    </main>
</body>
</html>