<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index for user</title>
</head>

<body>
    <header>
        <%- include('../header_footer/header.ejs') %>
    </header>
    <main class="container">
        <h1>User List</h1>

        <br>

        <% if (users && users.length> 0) { %>
            <table class="table table-bordered table-hover border-primary" style="max-width: 500px;">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">
                            id
                        </th>
                        <th scope="col">
                            username
                        </th>
                        <th scope="col">
                            fullname
                        </th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% users.forEach(function(user) { %>

                        <tr>
                            <th scope="row" >
                                <%= user.id %>
                            </th>
                            <td>
                                <%= user.username %>
                            </td>
                            <td>
                                <%= user.fullname %>
                            </td>
                        </tr>

                </tbody>
                <% }); %>
            </table>
            <% } else { %>
                <p>No users found.</p>
                <% } %>
    </main>
</body>

</html>